#
#  Author: Hari Sekhon
#  Date: 2021-11-29 16:14:02 +0000 (Mon, 29 Nov 2021)
#
#  vim:ts=2:sts=2:sw=2:et
#  lint: k8s
#
#  https://github.com/HariSekhon/Kubernetes-configs
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/HariSekhon
#

# ============================================================================ #
#                       P r o m e t h e u s   V a l u e s
# ============================================================================ #

# helm repo add prometheus https://prometheus-community.github.io/helm-charts
#
# helm show values prometheus/kube-prometheus-stack >> kube-prometheus-stack-values.yaml

---
alertmanager:
  enabled: true
  #baseURL: "http://localhost:9093"
  persistentVolume:
    size: 2Gi
  resources:
    limits:
      cpu: 100m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 300Mi

nodeExporter:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 100m
      memory: 512Mi

server:
  statefulset:
    enable: true  # avoids "Multi-Attach error for volume pvc... Volume is already used by pod(s) prometheus-server-..." that happens during deployment update bringing 2nd pod online and getting jammed
  retention: "15d"
  persistentVolume:
    size: 8Gi
  resources:
    limits:
      cpu: 100m
      memory: 3Gi
    requests:
      cpu: 100m
      memory: 2Gi

pushgateway:
  persistentVolume:
    size: 2Gi
